<div class="row mt-3">

    <div class="col-lg-4">
        <img id="bg1" style="display: none;" src="assets/img/card/blank.png">
        <img id="normal" style="display: none;" src="assets/img/card/bg_fighter.png">
        <img id="inspired" style="display: none;" src="assets/img/card/bg_fighter_inspired.png">
        <img id="runemark-bg" style="display: none;" src="assets/img/card/underworlds-runemark-bg.png">
        <img id="border" style="display: none;" src="assets/img/card/bloodbowl_border.png">
        
        <img id="underworlds-1-weapon" style="display: none;" src="assets/img/card/underworlds-1-weapon.png">
        <img id="underworlds-weapon-1-melee" style="display: none;" src="assets/img/card/underworlds-weapon-1-melee.png">
        <img id="underworlds-weapon-1-ranged" style="display: none;" src="assets/img/card/underworlds-weapon-1-ranged.png">
        <img id="underworlds-2-weapon" style="display: none;" src="assets/img/card/underworlds-2-weapon.png">
        <img id="underworlds-weapon-2-melee" style="display: none;" src="assets/img/card/underworlds-weapon-2-melee.png">
        <img id="underworlds-weapon-2-ranged" style="display: none;" src="assets/img/card/underworlds-weapon-2-ranged.png">

        <img id="underworlds-dodge" style="display: none;" src="assets/img/card/underworlds-dodge.png">
        <img id="underworlds-shield" style="display: none;" src="assets/img/card/underworlds-shield.png">

        <img id="underworlds-weapon-1-swords" style="display: none;" src="assets/img/card/underworlds-weapon-1-swords.png">
        <img id="underworlds-weapon-1-hammer" style="display: none;" src="assets/img/card/underworlds-weapon-1-hammer.png">
        <img id="underworlds-weapon-2-swords" style="display: none;" src="assets/img/card/underworlds-weapon-2-swords.png">
        <img id="underworlds-weapon-2-hammer" style="display: none;" src="assets/img/card/underworlds-weapon-2-hammer.png">

        <img id="underworlds-title-frame" style="display: none;" src="assets/img/card/underworlds-title-frame.png">
        <img id="underworlds-subtitle-frame" style="display: none;" src="assets/img/card/underworlds-subtitle-frame.png">


        <img id="underworlds-runemark-leader" style="display: none;" src="assets/img/card/underworlds-runemark-leader.png">
        <img id="underworlds-runemark-fly" style="display: none;" src="assets/img/card/underworlds-runemark-fly.png">
        <img id="underworlds-runemark-minion" style="display: none;" src="assets/img/card/underworlds-runemark-minion.png">

        <img id="underworlds-weapon-1-runemark-brutal" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-brutal.png">
        <img id="underworlds-weapon-2-runemark-brutal" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-brutal.png">
        <img id="underworlds-weapon-1-runemark-cleave" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-cleave.png">
        <img id="underworlds-weapon-2-runemark-cleave" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-cleave.png">
        <img id="underworlds-weapon-1-runemark-ensnare" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-ensnare.png">
        <img id="underworlds-weapon-2-runemark-ensnare" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-ensnare.png">
        <img id="underworlds-weapon-1-runemark-grapple" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-grapple.png">
        <img id="underworlds-weapon-2-runemark-grapple" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-grapple.png">
        <img id="underworlds-weapon-1-runemark-grevious" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-grevious.png">
        <img id="underworlds-weapon-2-runemark-grevious" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-grevious.png">
        <img id="underworlds-weapon-1-runemark-stagger" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-stagger.png">
        <img id="underworlds-weapon-2-runemark-stagger" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-stagger.png">
        <img id="underworlds-weapon-1-runemark-crit" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-crit.png">
        <img id="underworlds-weapon-2-runemark-crit" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-crit.png">

        <img id="underworlds-weapon-1-runemark-2-brutal" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-brutal.png">
        <img id="underworlds-weapon-2-runemark-2-brutal" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-brutal.png">
        <img id="underworlds-weapon-1-runemark-2-cleave" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-cleave.png">
        <img id="underworlds-weapon-2-runemark-2-cleave" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-cleave.png">
        <img id="underworlds-weapon-1-runemark-2-ensnare" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-ensnare.png">
        <img id="underworlds-weapon-2-runemark-2-ensnare" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-ensnare.png">
        <img id="underworlds-weapon-1-runemark-2-grapple" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-grapple.png">
        <img id="underworlds-weapon-2-runemark-2-grapple" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-grapple.png">
        <img id="underworlds-weapon-1-runemark-2-grevious" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-grevious.png">
        <img id="underworlds-weapon-2-runemark-2-grevious" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-grevious.png">
        <img id="underworlds-weapon-1-runemark-2-stagger" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-stagger.png">
        <img id="underworlds-weapon-2-runemark-2-stagger" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-stagger.png">
        <img id="underworlds-weapon-1-runemark-2-crit" style="display: none;" src="assets/img/card/underworlds-weapon-1-runemark-2-crit.png">
        <img id="underworlds-weapon-2-runemark-2-crit" style="display: none;" src="assets/img/card/underworlds-weapon-2-runemark-2-crit.png">


        <canvas class="canvas rounded" id="canvas" width="822" height="1122 ">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-5 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include card/section-characteristics.html %}
                {% include card/section-image.html %}


            </div>

            {% include card/section-actions.html %}

        </div>
    </div>

</div>