<div class="card">
    <!-- Existing Characteristics Section -->
    <div class="card-header" id="missionsHeadingFive">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseFive"
                aria-expanded="false" aria-controls="missionsCollapseFive">
                Characteristics
            </button>
        </h2>
    </div>
    <div class="collapse" id="missionsCollapseFive">
        <div class="card-body">
            <div class="form-group">
                <label for="playName">Warband Name</label>
                <input class="form-control" type="text" id="playName" name="playName" value=" "
                    oninput="onAnyChange()">
            </div>


            <div class="form-group">
                <label for="imageSelectList">Warband Runemark</label>
                <select class="form-control" id="imageSelectList" onchange="onRunemarkSelectChange()">
                    <option value="">Select an image</option>
                    <!-- Options for images in the folder will be dynamically populated here -->
                </select>
            </div>
            
            <input type="hidden" id="runemarkImageUrl" name="runemarkImageUrl" value="">

        </div>


    </div>
    
