<div class="card">



    <div class="collapse" id="missionsCollapseTwo">
        <div class="card-body">


            <div class="form-group">
                <label for="imageSelectList">Logo List</label>
                <select class="form-control" id="imageSelectList" onchange="onImageSelectChange()">
                    <option value="">Select an image</option>
                    <!-- Options for images in the folder will be dynamically populated here -->
                </select>
            </div>
            

            <input type="hidden" id="missionImageUrl" name="missionImageUrl" value="">


        </div>
    </div>

</div>