<div class="card">

    <div class="card-header" id="missionsHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseOne" aria-expanded="false"
                aria-controls="missionsCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="missionsCollapseOne">
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                  <select class="form-select" id="background-list" name="background-list" onchange="onAnyChange()">
                    <optgroup label="Simple">
                        <option value="bg1">Plain</option>
                        <option value="bg2">Stone</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            
        </div>

            </div>
        </div>
    </div>
</div>