<div class="card">

    <div class="card-header" id="fightersHeadingFive">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseFive"
                aria-expanded="false" aria-controls="fightersCollapseFive">
                Fighter Stats
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseFive">
        <div class="card-body">

            <div class="form-group">
                <label for="cardName">Fighter Name</label>
                <input class="form-control" type="text" id="cardName" name="cardName" value=" " oninput="onAnyChange()">
            </div>

            <div class="form-group">
                <label for="teamName">Subtitle</label>
                <input class="form-control" type="text" id="teamName" name="teamName" value=" " oninput="onAnyChange()">
            </div>

            <div class="form-group">
                <label for="playerType">Card Type</label>
                <select class="form-control" id="playerType" name="playerType" onchange="onAnyChange()">
                    <optgroup label="Card Type">
                    <option value="normal" selected>Normal</option>
                    <option value="inspired">Inspired</option>
                </optgroup>
                </select>
            </div>
           
            <div class="form-group">
                <label for="imageSelectList">Warband Runemark</label>
                <select class="form-control" id="imageSelectList" onchange="onRunemarkSelectChange()">
                    <option value="">Select an image</option>
                    <!-- Options for images in the folder will be dynamically populated here -->
                </select>
            </div>
            
            <input type="hidden" id="runemarkImageUrl" name="runemarkImageUrl" value="">


            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ma">Move</label>
                        <input class="form-control" id="ma" min="0" max="9" name="ma"
                            oninput="onAnyChange()" type="number" value="4">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="st">Save</label>
                        <input class="form-control" id="st" min="0" max="8" name="st"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="ag">Health</label>
                        <input class="form-control" id="ag" min="0" max="6" name="ag"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="pa">Bounty</label>
                        <input class="form-control" id="pa" min="0" max="6" name="pa"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="defense">Dodge/Shield</label>
                    <select class="form-control" id="defense" name="defense" onchange="onAnyChange()">
                        <optgroup label="defense Type">
                        <option value="Dodge" selected>Dodge</option>
                        <option value="Shield">Shield</option>
                    </optgroup>
                    </select>
                </div>
            </div>
        <div><b>Weapon 1</b></div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp1rng">Range</label>
                        <input class="form-control" id="wp1rng" min="0" max="8" name="wp1rng"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp1dice">Dice</label>
                        <input class="form-control" id="wp1dice" min="0" max="5" name="wp1dice"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp1dmg">Damage</label>
                        <input class="form-control" id="wp1dmg" min="0" max="5" name="wp1dmg"
                            oninput="onAnyChange()" type="number" value="3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wp1type">Weapon Type</label>
                    <select class="form-control" id="wp1type" name="wp1type" onchange="onAnyChange()">
                        <optgroup label="Weapon Type">
                        <option value="Melee" selected>Melee</option>
                        <option value="Ranged">Ranged</option>
                    </optgroup>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="wp1hammer">Hammer/Swords</label>
                    <select class="form-control" id="wp1hammer" name="wp1hammer" onchange="onAnyChange()">
                        <optgroup label="Weapon Type">
                        <option value="Hammer" selected>Hammer</option>
                        <option value="Swords">Swords</option>
                    </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="wp1special">Special</label>
                    <select class="form-control" id="wp1special" name="wp1special" onchange="onAnyChange()">
                        <optgroup label="Weapon Special">
                        <option value="None" selected>None</option>
                        <option value="Brutal">Brutal</option>
                        <option value="Cleave">Cleave</option>
                        <option value="Ensnare">Ensnare</option>
                        <option value="Grapple">Grapple</option>
                        <option value="Stagger">Stagger</option>
                    </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="wp1special2">Special</label>
                    <select class="form-control" id="wp1special2" name="wp1special2" onchange="onAnyChange()">
                        <optgroup label="Weapon Special">
                        <option value="None" selected>None</option>
                        <option value="Crit">Crit!</option>
                        <option value="Brutal">Brutal</option>
                        <option value="Cleave">Cleave</option>
                        <option value="Ensnare">Ensnare</option>
                        <option value="Grapple">Grapple</option>
                        <option value="Stagger">Stagger</option>
                    </optgroup>
                    </select>
                </div>

            </div>
            <div><b>Weapon 2</b></div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp2rng">Range</label>
                        <input class="form-control" id="wp2rng" min="0" max="5" name="wp2rng"
                            oninput="onAnyChange()" type="number" value="0">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp2dice">Dice</label>
                        <input class="form-control" id="wp2dice" min="0" max="5" name="wp2dice"
                            oninput="onAnyChange()" type="number" value="0">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="wp2dmg">Damage</label>
                        <input class="form-control" id="wp2dmg" min="0" max="5" name="wp2dmg"
                            oninput="onAnyChange()" type="number" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="wp2type">Weapon Type</label>
                    <select class="form-control" id="wp2type" name="wp2type" onchange="onAnyChange()">
                        <optgroup label="Weapon Type">
                            <option value="Melee">Melee</option>
                            <option value="Ranged" selected>Ranged</option>
                    </optgroup>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="wp2hammer">Hammer/Swords</label>
                    <select class="form-control" id="wp2hammer" name="wp2hammer" onchange="onAnyChange()">
                        <optgroup label="Weapon Type">
                        <option value="Hammer" selected>Hammer</option>
                        <option value="Swords">Swords</option>
                    </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="wp2special">Special</label>
                    <select class="form-control" id="wp2special" name="wp2special" onchange="onAnyChange()">
                        <optgroup label="Weapon Special">
                        <option value="None" selected>None</option>
                        <option value="Brutal">Brutal</option>
                        <option value="Cleave">Cleave</option>
                        <option value="Ensnare">Ensnare</option>
                        <option value="Grapple">Grapple</option>
                        <option value="Stagger">Stagger</option>
                    </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="wp2special2">Special</label>
                    <select class="form-control" id="wp2special2" name="wp2special2" onchange="onAnyChange()">
                        <optgroup label="Weapon Special">
                        <option value="None" selected>None</option>
                        <option value="Crit">Crit!</option>
                        <option value="Brutal">Brutal</option>
                        <option value="Cleave">Cleave</option>
                        <option value="Ensnare">Ensnare</option>
                        <option value="Grapple">Grapple</option>
                        <option value="Stagger">Stagger</option>
                    </optgroup>
                    </select>
                </div>
            </div>       
            <!-- New "Runemarks" Section -->
<div class="form-group">
    <label><b>Runemarks</b></label>
</div>
<div class="form-group">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="leaderCheck" name="leaderCheck" onchange="onAnyChange()">
        <label class="form-check-label" for="leaderCheck">Leader</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="minionCheck" name="minionCheck" onchange="onAnyChange()">
        <label class="form-check-label" for="minionCheck">Minion</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="flyCheck" name="flyCheck" onchange="onAnyChange()">
        <label class="form-check-label" for="flyCheck">Fly</label>
    </div>
</div>
            

        </div>


        </div>
    </div>
</div>

